<div class="filtro-form-buttons" id="botao-cadastro">
  <button type="button"><a href="/painel/entregas/nova">Cadastrar nova entrega</a></button>
</div>

<form method="GET" action="/painel/entregas" class="filtro-form">
  <div class="filtro-form-container">
    <label for="status" class="select-filtro-label">Status</label>

    <select name="status" class="select-filtro">
      <option value="">Todos</option>

      <option value="CRIADA" <%= statusSelecionado === "CRIADA" ? "selected" : "" %>>
        Criada
      </option>

      <option value="EM_TRANSITO" <%= statusSelecionado === "EM_TRANSITO" ? "selected" : "" %>>
        Em trânsito
      </option>

      <option value="ENTREGUE" <%= statusSelecionado === "ENTREGUE" ? "selected" : "" %>>
        Entregue
      </option>

      <option value="CANCELADA" <%= statusSelecionado === "CANCELADA" ? "selected" : "" %>>
        Cancelada
      </option>
    </select>
  </div>

  <div class="filtro-form-container">
    <label for="limit" class="select-filtro-label">Itens por página</label>

    <select name="limit" class="select-filtro">
      <option value="10" <%= Number(limit) === 10 ? "selected" : "" %>>10</option>
      <option value="25" <%= Number(limit) === 25 ? "selected" : "" %>>25</option>
      <option value="50" <%= Number(limit) === 50 ? "selected" : "" %>>50</option>
    </select>
  </div>

  <input type="hidden" name="page" value="1"> <!-- reseta a pagina quando filtra -->

  <div class="filtro-form-buttons">
    <button type="submit">Filtrar</button>
    <button type="button"><a href="/painel/entregas">Limpar filtros</a></button>
  </div>
</form>

<table id="tabela-painel-entregas">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Origem</th>
      <th>Destino</th>
      <th>Status</th>
      <th>Motorista</th>
      <th>Data de criação</th>
      <th>Datalhes</th>
    </tr>
  </thead>

  <tbody>
    <% data && data.forEach(item=> { %>
    <tr>
      <td>
        <%= item.descricao %>
      </td>
      <td>
        <%= item.origem %>
      </td>
      <td>
        <%= item.destino %>
      </td>
      <td>
        <span class="badge badge-<%= item.status.toLowerCase() %>">
          <%= item.status.split("_").join(" ") %>
        </span>
      </td>
      <td><%= item.motorista ? item.motorista.nome : 'Sem motorista cadastrado!' %></td>
      <td><%= item.createdAt.toLocaleDateString("pt-BR") %>
      </td>
      <td>
        <a href="/painel/entregas/<%= item.id %>" id="btn-detalhes-entregas">Ver detalhes</a>
        <!-- <a href="/painel/entregas/<%= item.id %>/excluir" onclick="return confirm('Tem certeza que deseja excluir esta entrega?')">Excluir</a> -->
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../../partials/table-navigation', { page, totalPages, baseUrl: "/painel/entregas", status: statusSelecionado, limit }) %>