<%- include('../../partials/header', { titulo: 'Minha API de/Painel Entregas' }) %>
<%- include('../../partials/navbar') %>

<table id="tabela/painel-entregas">
   <thead>
      <tr>
         <th>Descrição</th>
         <th>Origem</th>
         <th>Destino</th>
         <th>Status</th>
         <th>Motorista</th>
         <th>Data de criação</th>
      </tr>
   </thead>

   <tbody>
      <% data && data.forEach(item=> { %>
         <tr>
            <td>
               <%= item.descricao %>
            </td>
            <td>
               <%= item.origem %>
            </td>
            <td>
               <%= item.destino %>
            </td>
            <td>
               <%= item.status.split("_").join(" ") %></td>
               <td><%= item.motorista ? item.motorista.nome : 'Sem motorista cadastrado!' %></td>
               <td><%= item.createdAt.toLocaleDateString("pt-BR") %>
            </td>
            <td>
               <a href="/painel/entregas/<%= item.id %>/editar">Editar</a>
               <a href="/painel/entregas/<%= item.id %>/excluir"
                  onclick="return confirm('Tem certeza que deseja excluir esta entrega?')">Excluir</a>
            </td>
         </tr>
         <% }); %>
   </tbody>
</table>

<%- include('../../partials/table-navigation', { page: page, totalPages: totalPages, baseUrl: "/painel/entregas" }) %>

<%- include('../../partials/footer') %>